{% extends 'base.html' %} {% block content %}
<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Sub-Engineer's List</h3>
      </div>
    </div>
  </div>
  {% include 'includes/messages.html' %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table id="table_id" class="table table-hover table-center mb-0">
              <thead>
                <tr>
                  <th>S.N.</th>
                  <th>Name</th>
                  <th>Contact No</th>
                  <th>Email</th>
                  <th>Username</th>
                  <th>Wards</th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in subengineer %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ i.name }}</td>
                  <td>{{ i.mobile }}</td>
                  <td>{{ i.admin.email }}</td>
                  <td>{{ i.admin.username }}</td>
                  <td>
                    {% for ward in i.wards.all %} {{ ward.name }} {% endfor %}
                  </td>
                  <td class="text-right">
                    <div class="actions">
                      <a href="" class="btn btn-sm bg-info mr-2">
                        <i class="fas fa-eye"></i>
                      </a>
                      <a href="" class="btn btn-sm bg-success mr-2">
                        <i class="fas fa-pen"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
